body {
    background-image: linear-gradient(90deg, rgb(58, 58, 58), rgb(182, 182, 182));
}

div1{
    background-color:rgb(211, 211, 211);
    position:absolute;
    border-radius:2%;
    top:26%;
    left:35%;
}

h1{
    background-color:rgb(211, 211, 211);
    border-radius:3%;
    position:absolute;
    top:10%;
    left:45%;
}

p {
    background-color:rgb(211, 211, 211);
    position:absolute;
    border-radius:2%;
    top:18%;
    left:25%;
}

a {
    background-color:rgb(211, 211, 211);
    position:absolute;
    border-radius:2%;
    top:85%;
    left:25%;
}